*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.whole{
    width: 1200px;
    height: 700px;
    // background-color: pink;
    margin: 0 auto;
    border: 1px solid black;
    .head{
        width: 1200px;
        height: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: white;
            font-size: 40px;
        }
    }
    .car{
        width: 1000px;
        height: 500px;
        // background-color: royalblue;
        margin:  0 auto;
        .top{
            width: 100%;
            height: 100px;
            background-color: white;
            h2{
                line-height: 100px;
                margin-left: 20px;
                float: left;
                .car_num{
                    color: red;
                }
                .money{
                    color: red;
                }
            }
            .clearGoodscar{
                float: left;
                margin-right: 10px;
                background-color: red;
                color: white;
                border: 1px solid black;
            }
        }
        .carlist{
            width: 100%;
            height: 400px;
            overflow: auto;
            // background-color: yellow;
            ul li{
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;
                border-bottom: 1px dashed gray;
                input{
                    width: 20px;
                    height: 20px;
                    border: 1px solid black;
                }
                img{
                    // background-color: red;
                    width: 100px;
                    height: 100px;
                }
                h2{
                    margin-left: -50px;
                    font-size: 15px;
                }
                button{
                    width: 60px;
                    height: 30px;
                    font-size: 20px;
                }
                .btns{
                    display: inline;
                    button{
                        width: 20px;
                        height: 20px;
                        font-size: 15px;
                    }
                    .car_num{
                        width: 75px;
                        height: 18px;
                        margin-left: -44px;
                    }
                }
            }
        }
        .footer{
            width: 100%;
            height: 100px;
            // background-color: blueviolet;
            display: flex;
            justify-content: space-around;
            align-items: center;
            button{
                width: 200px;
                height: 30px;
                background: black;
                color: white;
                border: 1px solid black;
                font-size: 20px;
                outline: none;
                &:hover{
                    color: red;
                }
            }
        }
    }
}